$color: #C4DFE6
;


body {
	font-family: Georgia, 'Times New Roman', Times, serif;
	color: black;
	font-size: 1.2rem;
	line-height: 1.6em;
	margin: 0;

	header {
		z-index: 100;
		position: fixed;
		background-color: $color;
		color: #66A5AD;
		padding: 2rem 0;
		left: 0;
		top: 0;
		width: 100%;

		a {
			color: #66A5AD;
			text-decoration: none;
		}
	}
}

.icono {
	z-index: 200;
	background-color: white;
}

input {
	text-indent: 6px;
}


.dropdown-menu {
	li {
		background-color: rgb(197, 196, 196);
		background-color: #efefef;
		width: 100%;
		text-align: center;

		a:hover{
			color: #efefef;
		}
	}
	
} 
	
.ejemplo {
	z-index: 100;
	background-color: rgb(197, 196, 196);
	width: 100%;
}

h1 {
	line-height: 1.3em;
	font-size: 2em;
}

p {
	margin-bottom: 1, 6em;
}

.container {
	width: 85%;
	max-width: 850px;
	margin: 0 auto;
}

.logo-nav-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}

.logo {
	letter-spacing: 5px;
	font-size: 1.2em;
}

.menu-icon {
	display: none;
}

.navigation {
	ul {
		margin: 0;
		padding: 0;
		list-style: none;

		li {
			display: inline-block;

			a {
				display: block;
				padding: 0.5rem 1rem;
				transition: all 0.4 linear;
				border-radius: 5px;

				&:hover {
					background: rgb(209, 205, 205);
				}
			}
		}
	}
}

.main {
	padding-top: 2rem;
}

@media screen and (max-width: 767px) {
	.menu-icon {
		display: block;
		cursor: pointer;
		padding: 0.5rem 1rem;
	}

	.navigation {
		width: 100%;
		margin-top: 1rem;

		ul {
			display: none;

			li {
				display: block;

				a {
					display: block;
					padding: 0.5rem 0;
					transition: all 0.4 linear;
					border-radius: 5px;

					&:hover {
						background: rgb(209, 205, 205);
					}
				}
			}
		}

		ul.show {
			display: block;
		}
	}
}

.imagenes {
	width: 100%;
}